.signin-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4ff;
  }
  
  .form-container {
    padding: 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .form input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .form button {
    width: 100%;
    padding: 10px;
    background-color: #5795FA;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #417fe0;
  }
  